<div style="font-family: system-ui, sans-serif, Arial; font-size: 12px">
  <table role="presentation">
    <tr>
      <td style="vertical-align: top">
        <div style="
              padding: 6px 10px;
              margin: 0 10px;
              background-color: aliceblue;
              border-radius: 5px;
              font-size: 26px;
            " role="img">
          👤
        </div>
      </td>
      <td style="vertical-align: top">
        <div style="color: #2c3e50; font-size: 16px">
          <strong>{{sharedBy}}</strong>
        </div>
        <div style="color: #cccccc; font-size: 13px">{{createdAt}}</div>
        <p style="font-size: 16px">{{description}}</p>
        <a style="color: #8050fa; font-size: 16px" href="{{url}}" target="_blank">{{url}}</a>
      </td>
    </tr>
  </table>
</div>
</div>