* {
  box-sizing: border-box;
}

.appContainer {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.appHeader {
  color: #2d3748;
  text-align: center;
}

.appDivider {
  height: 2px;
  background: #e2e8f0;
  margin: auto;
  margin-bottom: 5rem;
  width: 50%;
  max-width: 1200px;
}

.dashboard {
  display: flex;
  align-items: center;
  padding: 20px;
}

.galleryContainer {
  flex: 1;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}
